body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000; 
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    max-width: 500px;
    margin: 40px auto;
    margin-top: 20px;
    background-color: #fff;
    color: #000; 
    border-radius: 20px; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}

h2, h4 {
    text-align: center;
    color: #000; 
    margin-top: 20px;
}

p {
    text-align: center;
    color: #555; 
}

.dados {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    color: #333; 
}

.sensor-controls {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    margin: 1px 0; 
}

.led-controls {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.led-controls div {
    text-align: center;
    margin: 5px;
}

button {
    padding: 10px 20px;
    width: 120px;
    font-size: 14px;
    border-radius: 12px; 
    cursor: pointer;
    background-color: #000;
    color: #fff; 
    border: 1px solid #555;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff; 
    color: #000; 
    border-color: #000;
}

